.card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.img-box {
  height: 200px;
  background-color: #f8f9fa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0;
}


.card-img-top {
  width: auto !important;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.card-body {
  flex-grow: 1;
  text-align: center;
  padding: 15px;
}

.product-title {
  font-size: 14px;
  line-height: 1.2;
  height: 34px;

  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;     
  -webkit-box-orient: vertical;
}


.card-footer {
  margin-top: auto;
  text-align: center;
}
